
@{
    ViewData["Title"] = "Privacy";
}

<div class="align-content-center">
    <img src="https://sun9-71.userapi.com/impg/gNPB-AC4VQ-7tENgDIm68Sfofg1GXb73oHkSGg/a9nOulEb4o4.jpg?size=869x664&quality=96&sign=ffd6d06a57b13ee87ba0adca8ee2cd90&type=album" />
</div>
